/* Estilos para los mejores productos */
.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

    .container-options {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;

        span {
            color: #777;
            background-color: #fff;
            padding: 0.7rem 3rem;
            font-size: 1.4rem;
            text-transform: capitalize;
            border-radius: 2rem;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }

            &.active {
                background-color: var(--primary-color);
                color: #fff;
            }
        }
    }
}

/* Estilos para los productos */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);

    .container-img {
        position: relative;

        img {
            width: 100%;
        }

        .discount {
            position: absolute;
            left: 0;
            background-color: var(--primary-color);
            color: #fff;
            padding: 2px 1.2rem;
            border-radius: 2rem;
            font-size: 1.2rem;
        }
    }

    &:hover {
        .discount {
            background-color: #000;
        }

        .button-group {
            z-index: 0;
            right: -1rem;
        }
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;

    span {
        border: 1px solid var(--primary-color);
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
            background-color: var(--primary-color);
        }

        i {
            font-size: 1.5rem;
            color: var(--primary-color);
        }

        &:hover i {
            color: #fff;
        }
    }
}

.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;

    .stars {
        grid-row: 1/2;
        grid-column: 1/-1;

        i {
            font-size: 1.3rem;
            color: var(--primary-color);
        }
    }

    h3 {
        grid-row: 2/3;
        grid-column: 1/-1;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }

    .add-cart {
        justify-self: start;
        border: 2px solid var(--primary-color);
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--primary-color);
        }

        i {
            font-size: 1.5rem;
            color: var(--primary-color);
        }

        &:hover i {
            color: #fff;
        }
    }

    .price {
        justify-self: end;
        align-self: center;
        font-size: 1.7rem;
        font-weight: 600;

        span {
            font-size: 1.5rem;
            font-weight: 400;
            text-decoration: line-through;
            color: #777;
            margin-left: 0.5rem;
        }
    }
}